# Configuración de Base de Datos
POSTGRES_USER=postgres
POSTGRES_PASSWORD=una_contraseña_muy_segura_para_produccion
POSTGRES_DB=milenio
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Seguridad y JWT
CLAVE_SECRETA=genera_una_clave_larga_y_segura_aqui_para_produccion
ALGORITMO=HS256
MINUTOS_EXPIRACION_TOKEN=1440
